--extra-index-url https://download.pytorch.org/whl/cu113
-f https://data.pyg.org/whl/torch-1.12.0+cu113.html

wheel
tqdm
rich

numpy
pandas

torch>=1.12,<1.13
torchvision>=0.13,<0.14

torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

transformers

jsonargparse[signatures]
pytorch-lightning

torchmetrics
