--extra-index-url https://download.pytorch.org/whl/cu117
-f https://data.pyg.org/whl/torch-1.13.0+cu117.html

wheel
tqdm
rich

numpy
pandas

torch
torchvision

pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

transformers
accelerate

tensorboard

jsonargparse[signatures]
pytorch-lightning

torchmetrics
