--extra-index-url https://download.pytorch.org/whl/cpu
-f https://data.pyg.org/whl/torch-1.12.0+cpu.html

wheel
tqdm
rich
pyyaml

numpy
pandas
pyarrow
polars

torch>=1.12,<1.13

torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

transformers
datasets

jsonargparse[signatures]
pytorch-lightning

torchmetrics
