--extra-index-url https://download.pytorch.org/whl/cpu
-f https://data.pyg.org/whl/torch-1.13.0+cpu.html

wheel
tqdm
rich

numpy
pandas

torch
torchvision

pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

transformers

jsonargparse[signatures]
pytorch-lightning

torchmetrics
